.Guess-input {
  border: 15px solid rgb(97, 98, 84);
  margin: 30px;
  text-align: center;
  background-color: #a9a9a9;
  padding: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 10;
  
}
